@{
    ViewBag.Title = "Sobre";
}
<h2 class="container">@ViewBag.Title.</h2>
<h3 class="container">@ViewBag.Message</h3>
<h5 class="container">@ViewBag.Versao</h5>
<br />
<p class="container">Este é um sistema intranet para controle de devedores do banco Safra S.A. através dos serviços da Solvere.</p>
