@{
    ViewBag.Title = "Contato";
}
<h2 class="container">@ViewBag.Title.</h2>
<h3 class="container">@ViewBag.Message</h3>

<address class="container">
    Maceiras Sistemas Ltda.<br />
    São Paulo - SP<br />
    <abbr title="Phone">F:</abbr>
    11 98922-8367
</address>

<address class="container">
    <strong>Supporte:</strong>   <a href="mailto:alexandro@maceiras.com.br">alexandro@maceiras.com.br</a><br />
</address>